<div class="info-content">
  <h3>Everything you need!</h3>
  <p class="info-p-vector">Unlimited Number of Campaigns</p>
  <p class="info-p-vector">Unlimited Number of Domains</p>
  <p class="info-p-vector">All Products Included</p>
  <p class="info-p-vector">All Features Included</p>
  <p>All this and much more….</p>
  <h4>Trusted by many industry leaders</h4>
  <div class="tech-logo-container">
    <img src="assets/img/techlogo.png" class="tech-logo" alt="tech-logo">
    <img src="assets/img/techlogo.png" class="tech-logo" alt="tech-logo">
    <img src="assets/img/techlogo.png" class="tech-logo" alt="tech-logo">
  </div>
  <div class="tech-logo-container">
    <img src="assets/img/techlogo.png" class="tech-logo" alt="tech-logo">
    <img src="assets/img/techlogo.png" class="tech-logo" alt="tech-logo">
  </div>
</div>
