<div class="wrapper">
  <div class="reg-container-final">
    <div class="reg-content-final">
      <img src="https://insolences.github.io/Tamplate-MW/src/img/logo.png" class="logo-final"/>
      <img src="https://insolences.github.io/Tamplate-MW/src/img/check.png" class="check">
      <div class="reg-h2">
        <h3> Thanks for Registering!</h3>
        <span class="rectangl-line-final"></span>
      </div>
      <p class='reg-text'> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua!</p>
      <div class="reg-buttons-container">
        <button class="reg-button" value="startTrial"><a href="#">Start free trial</a></button>
        <button class="becomePro-button reg-button" value="becomePro"><a href="#">Become a Pro</a></button>
      </div>
    </div>
  </div>
</div>
