<form class="form validate-form-page1" [formGroup]="userForm">
  <div class="input-full-name">
    <div class="input-container">
      <div class="form-input50 validate-input"  [class.error-validate]="isFieldInvalid('firstName')"><label for="first-name-input" class="label-input100">FirstName</label>
        <input id="first-name-input" formControlName="firstName" class="inputField" type="text" name="firstName" placeholder="FirstName...">
        <span class="focus-input100 " [className]="userForm.get('firstName').valid ? 'true-validate' : 'hide'"></span>
      </div>
      <app-validator-message [displayError]="isFieldInvalid('firstName')" [errorText]="'Please give us some details'"></app-validator-message>
    </div>
    <div class="input-container">
      <div class="form-input50 validate-input" [class.error-validate]="isFieldInvalid('lastName')">
        <label for="last-name-input" class="label-input100">LastName</label>
        <input id="last-name-input" formControlName="lastName"  class="inputField" type="text" name="lastName" placeholder="LastName..." >
        <span class="focus-input100" [className]="userForm.get('lastName').valid ? 'true-validate' : 'hide'"></span>
      </div>
      <app-validator-message [displayError]="isFieldInvalid('lastName')" [errorText]="'Please give us some details'"></app-validator-message>
    </div>
  </div>
  <div class="input-container">
    <div class="form-input100-m48 validate-input" [class.error-validate]="isFieldInvalid('email')">
      <input id="mail-input" formControlName="email" class="inputField" type="email" name="email" placeholder="Email..." >
      <span class="focus-input100" [className]="userForm.get('email').valid ? 'true-validate' : 'hide'"></span>
    </div>
    <app-validator-message [displayError]="isFieldInvalid('email')" [errorText]="'Please give us some details'"></app-validator-message>
  </div>
  <button type="submit" class="reg-button" value="Next" (click)="onSubmit($event)">Next</button>
</form>
