<div class="reg-content" >
  <img src="assets/img/logo.png" class="logo"/>
  <div class="reg-h2">
    <h2>Try Met Jip for free</h2>
    <span class="rectangl-line"></span>
  </div>
  <div class = 'reg-text'>
    <p> Met Jip for free for 14 days. Do you already have a login than you can <span><a href="registration_page_1.html">Login here</a></span></p>
  </div>
  <app-first-page-form *ngIf="next" (nextForm)="goToNextForm($event)"></app-first-page-form>
  <app-second-page-form *ngIf="!next" (backForm)="goToNextForm($event)"></app-second-page-form>
</div>

