<form class="form validate-form-page2" [formGroup]="userForm">
  <div class="input-container">
    <div class="form-input100-m28 validate-input" [class.error-validate]="isFieldInvalid('company')">
      <label class="label-input100">Company</label>
      <input id="company-input" formControlName="company" class="inputField" type="text" name="Company"  placeholder="Company...">
      <span class="focus-input100" [className]="userForm.get('company').valid ? 'true-validate' : 'hide'"></span>
    </div>
    <app-validator-message [displayError]="isFieldInvalid('company')" [errorText]="'Please give us some details'"></app-validator-message>
  </div>
  <div class="input-container">
    <div class="form-input100-m28 validate-input" [class.error-validate]="isFieldInvalid('phone')">
      <label for="phone-input" class="label-input100">Phone number</label>
      <input id="phone-input" formControlName="phone" class="inputField" type="tel" name="Phone" placeholder="Phone number...">
      <span class="focus-input100" [className]="userForm.get('phone').valid ? 'true-validate' : 'hide'"></span>
    </div>
    <app-validator-message
      [displayError]="isFieldInvalid('phone')"
      [errorText]="'Please give us some details'">
    </app-validator-message>
  </div>
  <div class="input-container">
    <div class="form-input100-m28 validate-input" [class.error-validate]="isFieldInvalid('password')">
      <label class="label-input100">Password</label>
      <input id="password-input" formControlName="password" class="inputField" type="password" name="Password" placeholder="Password...">
      <span class="focus-input100" [className]="userForm.get('password').valid ? 'true-validate' : 'hide'"></span>
    </div>
    <app-validator-message
      [displayError]="isFieldInvalid('password')"
      [errorText]="'Please give us some details'">
    </app-validator-message>
  </div>
  <div class="input-container">
    <div class="accept-privacy-container">
      <input type="checkbox" id="acceptPrivacy" formControlName="checkPrivacy" class="inputCheck inputField" name="AcceptPrivacy" >
      <p>Accept <span class="open-modal" (click)="handleShowModal()">Privacy Statement</span> and <span class="open-modal" (click)="handleShowModal()">Terms & Conditions</span></p>
    </div>
    <app-validator-message
      [classCheck]="'error-text error-check-text'"
      [displayError]="isFieldInvalid('checkPrivacy')"
      [errorText]="'Please agree to continue'">
    </app-validator-message>
  </div>
  <div class="reg-buttons-container">
    <span class="back-to-first-page" (click)="handleBackToFirstPage()">Back</span>
    <input type="submit" class="reg-button create-button" value="Create free account" (click)="onSubmit()"/>
  </div>
</form>
<app-modal *ngIf="showModal" [handleCloseModal]="handleCloseModal()"></app-modal>
